{% extends 'layout-app.html' %} {% set hub = "Vaccinations" %} {% set scenario =
  "scenario1" %} {% set
pageHeading = "RSV vaccine" %} {% set pageDescription = "The RSV vaccine helps protect against respiratory syncytial virus (RSV), a common virus that can make babies and older adults seriously ill. It's recommended during pregnancy and for adults aged 75 to 79." %} {% block content %} {{ backLink({ href:
"/scenario1/vaccinations", text: "Go back" }) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({ title: pageHeading, titleSecondary: true, description:
    pageDescription })}}

    <div class="nhsuk-card nhsuk-card--care nhsuk-card--care--non-urgent">
  <div class="nhsuk-card--care__heading-container">
    <h2 class="nhsuk-card--care__heading">
      <span role="text"><span class="nhsuk-u-visually-hidden">Non-urgent advice: </span>We believe you might be eligible</span>
    </h2>
    <span class="nhsuk-card--care__arrow" aria-hidden="true"></span>
  </div>

  <div class="nhsuk-card__content">

    <ul>
      <li>you're aged between 75 and 79 </li>
      <li>According to our records, you have not received the RSV vaccination</li>
    </ul>
    <a href="#">Find out what to do if you don't think this is correct</a>


  </div>
    </div>

    <div class="nhsapp-card">
      <div class="nhsapp-card__container">
        <div class="nhsapp-card__content">
          <a href="/scenario1/nbs-end" class="nhsapp-card__link nhsuk-link--no-visited-state">
            Book, cancel or change an RSV vaccination appointment
          </a>
        </div>

        <svg
          class="nhsapp-icon nhsapp-icon__chevron-right"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
          height="2rem"
          width="2rem"
          viewBox="0 0 24 24"
        >
          <path
            d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
          />
        </svg>
      </div>
    </div>

<!--more information--> 
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <!-- Vaccinations -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div
              class="nhsapp-section-heading"
              style="
                display: flex;
                justify-content: space-between;
                align-items: baseline;
              "
            >
              <h2 class="nhsuk-heading-s" style="margin: 0">More information</h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="nhsuk-u-padding-bottom-3"></div>

    <div class="nhsuk-expander-group">

    <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        What the RSV vaccine is for
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>The RSV vaccine helps protect against respiratory syncytial virus (RSV).
        RSV is a common cause of coughs and colds. Most people get it several times during their life.</p>
      <p>It usually gets better by itself, but in some people (especially babies and older adults) it can cause illnesses such as:</p>
      <ul>
        <li>pneumonia (a lung infection)</li>
        <li>bronchiolitis (a chest infection that affects babies)</li>
      </ul>
      <p>These illnesses can cause serious breathing problems. They may need to be treated in hospital and can be life-threatening. 
           <div class="nhsuk-u-padding-bottom-3"></div>
      Getting RSV can also make your symptoms worse if you have a lung condition, such as chronic obstructive pulmonary disorder (COPD).
           <div class="nhsuk-u-padding-bottom-3"></div>
      The RSV vaccine helps reduce the risk of serious breathing problems like pneumonia and bronchiolitis.</p>

    </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        Who should have the RSV vaccine
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>The RSV vaccine is recommended if:</p>
      <ul>
        <li>you're pregnant – the vaccine is recommended during every pregnancy (from 28 weeks onwards) to help protect your baby after they're born</li>
        <li>you're aged 75 to 79</li>
      </ul>
      <div class="nhsuk-inset-text">
    <span class="nhsuk-u-visually-hidden">Information: </span>

    <p><b>If you're aged 80 or over</b>
    <br>If you turned 80 after 1 September 2024, you're eligible for the RSV vaccine until 31 August 2025.
    <br>You're not eligible for the RSV vaccine if you turned 80 on or before 1 September 2024.</p>
    </div>

    </div>
    </details>

    <details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
      <span class="nhsuk-details__summary-text">
        How to get the RSV vaccine
      </span>
    </summary>
    <div class="nhsuk-details__text">
      <p>There are different ways to get the RSV vaccine.</p>
      <h3 class="nhsuk-heading-s">If you're aged 75 to 79</h3>
      <p>Contact your GP surgery to book your RSV vaccination.</p>
        <p>Your GP surgery may contact you about getting the RSV vaccine. This may be by letter, text, phone call or email.</p>
          <p>You do not need to wait to be contacted before booking your vaccination.</p>
          
          <button
  class="nhsuk-button nhsapp-button--secondary nhsapp-button"
  data-module="nhsuk-button"
  type="submit"> If you're pregnant
          </button>
      
    </div>
    </details>

<!--Bottom-->
    <div class="nhsuk-u-padding-bottom-4"></div>

    <a href="#">Find out more about the RSV vaccination on NHS.uk</a>

      </div>
    </div>

    {% endblock %}
  </div>
</div>
