{% extends 'layout-app.html' %} {% set hub = "Vaccinations" %} {% set pageHeading
= "Vaccinations" %} {% set pageDescription = "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat." %} {% block content %}

{{ backLink({
  href: "/scenario1/vaccinations",
  text: "Go back"
}) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({ title: pageHeading, titleSecondary: true, description:
    pageDescription })}}

    <!-- PANEL LINK CARD - Your health -->
    {{ nhsappCardGroup({ stacked: true, cards: [
    { title: "COVID-19 record", href: "/scenario1/covid-records" },
    { title: "RSV record", href:"#" } ] })}}



  </div>
</div>

{% endblock %}
