{% extends 'layout-app.html' %} {% set hub = "Vaccinations" %} {% set
pageHeading = "Vaccinations" %} {% set pageDescription = "Based on your age,
these vaccinations may be relevant - some vaccinations may not be needed or have
already been given." %} {% block content %} {{ backLink({ href:
"/scenario1/your-health-p9", text: "Go back" }) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({ title: pageHeading, titleSecondary: true, description:
    pageDescription })}}

    <div class="nhsapp-section-heading">
      <h2 class="nhsuk-heading-s">Quick links</h2>
    </div>
    <div class="nhsapp-card">
      <div class="nhsapp-card__container">
        <div class="nhsapp-card__content">
          <a href="#" class="nhsapp-card__link nhsuk-link--no-visited-state">
            Get Flu Spring '25 booster'
          </a>
        </div>

        <svg
          class="nhsapp-icon nhsapp-icon__chevron-right"
          xmlns="http://www.w3.org/2000/svg"
          aria-hidden="true"
          focusable="false"
          height="2rem"
          width="2rem"
          viewBox="0 0 24 24"
        >
          <path
            d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
          />
        </svg>
      </div>
    </div>

    <!-- Vaccinations -->
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <!-- Vaccinations -->
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-full">
            <div
              class="nhsapp-section-heading"
              style="
                display: flex;
                justify-content: space-between;
                align-items: baseline;
              "
            >
              <h2 class="nhsuk-heading-s" style="margin: 0">Vaccinations</h2>
              <a href="#" class="nhsuk-link" style="margin: 0">View all</a>
            </div>
          </div>
        </div>
      </div>
    </div>

     <div class="nhsuk-u-padding-bottom-3"></div>

    <ol class="nhsapp-cards nhsapp-cards--stacked">
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="#"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  Flu
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario1/covid"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  COVID-19
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario1/rsv"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  RSV
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="#"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  Shingles
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="#"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  Pneumococcal
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
    </ol>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
