{% extends 'layout-app.html' %} {% set hub = "Your health" %} {% set scenario =
"scenario3" %} {% set
pageHeading = "Check and book vaccinations" %} {% set pageDescription = "Find out about vaccinations for babies, children and adults, including why they're important and how to get them." %} {% block content %} {{ backLink({ href:
"/scenario3/scenario3-yourhealth", text: "Go back" }) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({ title: pageHeading, titleSecondary: true, description:
    pageDescription })}}
    
    <div class="nhsapp-section-heading">
      <h2 class="nhsuk-heading-s">Seasonal vaccinations available now</h2>
        </div>

        <div class="card-link-blue">
          <a href="/scenario3/nbs-covid" class="card-link-blue__container">
            <div class="card-link-blue__content">
              <h3 class="card-link-blue__title">
                Book, cancel or change a COVID-19 vaccination appointment
              </h3>
            </div>
            <svg class="card-link-blue__icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true">
              <path d="M9.29 6.71a1 1 0 011.42 0L16 12l-5.29 5.29a1 1 0 01-1.42-1.42L13.17 12l-3.88-3.88a1 1 0 010-1.41z" />
            </svg>
          </a>
        </div>
        
        


<!-- Boost yourself -->
    <div class="nhsuk-grid-row">
    </div>

    <div class="nhsapp-section-heading">
      <h2 class="nhsuk-heading-s">Protect yourself</h2>
        </div>

        <ol class="nhsapp-cards nhsapp-cards--stacked">   
          
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario3/flu"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  Flu
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
          
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario3/pneumococcal"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  Pneumococcal
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>

          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario3/shingles"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  Shingles
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
      </ol>


     <div class="nhsapp-section-heading">
      <h2 class="nhsuk-heading-s">Boost protection for missed vaccinations or if you are at high risk</h2>
        </div>

      <ol class="nhsapp-cards nhsapp-cards--stacked"> 
        
        <li class="nhsapp-card">
          <div class="nhsapp-card__container">
            <div class="nhsapp-card__content">
              <a
                href="/scenario3/covid"
                class="nhsapp-card__link nhsuk-link--no-visited-state"
              >
                COVID-19
              </a>
            </div>
  
            <svg
              class="nhsapp-icon nhsapp-icon__chevron-right"
              xmlns="http://www.w3.org/2000/svg"
              aria-hidden="true"
              focusable="false"
              height="2rem"
              width="2rem"
              viewBox="0 0 24 24"
            >
              <path
                d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
              />
            </svg>
          </div>
            </li> 
          
          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario3/hpv"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  HPV
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>

          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario3/menacwy"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  MenACWY
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>

          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario3/mmr"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  MMR
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>

          <li class="nhsapp-card">
            <div class="nhsapp-card__container">
              <div class="nhsapp-card__content">
                <a
                  href="/scenario3/tdipv"
                  class="nhsapp-card__link nhsuk-link--no-visited-state"
                >
                  Td/IPV (3-in-1 booster)
                </a>
              </div>

              <svg
                class="nhsapp-icon nhsapp-icon__chevron-right"
                xmlns="http://www.w3.org/2000/svg"
                aria-hidden="true"
                focusable="false"
                height="2rem"
                width="2rem"
                viewBox="0 0 24 24"
              >
                <path
                  d="M8.82 19.11a.97.97 0 0 1-.72-.31.996.996 0 0 1 .03-1.41l5.61-5.38-5.6-5.25c-.4-.38-.42-1.01-.05-1.41.38-.4 1.01-.42 1.41-.05l6.37 5.97c.2.19.31.45.32.72s-.11.54-.31.73l-6.37 6.11c-.19.19-.44.28-.69.28Z"
                />
              </svg>
            </div>
          </li>
      </ol>


      <a
    class="nhsuk-button nhsapp-button--secondary nhsapp-button"
    data-module="nhsuk-button"
    href="/scenario3/all-vaccinations"> View all vaccinations
      </a>
      </div>
    </div>

    {% endblock %}
  </div>
</div>
