{% extends 'layout-app.html' %} {% set hub = "Your health" %} {% set scenario =
  "scenario5" %} {% set
pageHeading = "Are you able to get a COVID-19 vaccine?" %} {% set pageDescription = "As you're under 75 you're only able to get a COVID-19 vaccine if you:" %} {% block content %} {{ backLink({ href:
"/scenario5/vaccinations", text: "Go back" }) }}

<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <!-- DYNAMIC PAGE TITLE -->
    {{ dynamicPageTitle({ title: pageHeading, titleSecondary: true, description:
    pageDescription })}}

<!--more information--> 
<ul>
  <li>have a serious long-term health condition</li>
  <li>are having treatment or medication that means you are at increased risk</li>
  <li>are in long-stay residential care home for older adults</li>
</ul>
<p>You might be asked some questions at the pharmacy to check you're eligible for a COVID-19 vaccine.</p>
<p>If you are not sure, you can read more about who is eligible for a COVID-19 vaccine.</p>
<div class="nhsuk-form-group">
  <fieldset class="nhsuk-fieldset">
    <div class="nhsuk-radios">

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-1" name="example" type="radio" value="yes">
        <label class="nhsuk-label nhsuk-radios__label" for="example-1">
          Yes, I am eligible for a COVID-19 vaccine
        </label>
      </div>

      <div class="nhsuk-radios__item">
        <input class="nhsuk-radios__input" id="example-2" name="example" type="radio" value="no">
        <label class="nhsuk-label nhsuk-radios__label" for="example-2">
          No, I am not eligible
        </label>
      </div>
    </div>
  </fieldset>

</div>

<button
  class="nhsuk-button nhsapp-button"
  data-module="nhsuk-button"
  href="#"
>
  Continue
</button>

<!--Bottom-->
    <div class="nhsuk-u-padding-bottom-4"></div>

    <a href="#">Find out more about the RSV vaccination on NHS.uk</a>

      </div>
    </div>

    {% endblock %}
  </div>
</div>
