{% extends 'layout.html' %}

{% set bodyClasses = "app-iframe__page" %}

{% set mainClasses = "nhsuk-main-wrapper--s" %}

{% block beforeContent %}
  {{ backLink({
    "text": "Back",
    "classes": "nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-0",
    href: "/"
  }) }}
{% endblock %}

{% block content %}

  <div class="app-iframe__container">
    <div class="app-iframe__header"></div>
    <svg class="ios-notch" viewBox="-40 0 300 31">
      <path d="M0 1V0h219v1a5 5 0 0 0-5 5v3c0 12.15-9.85 22-22 22H27C14.85 31 5 21.15 5 9V6a5 5 0 0 0-5-5z" fill-rule="evenodd"></path>
    </svg>
    <iframe
      id="inlineFrameExample"
      title="Inline Frame Example"
      src="/scenario1/scenario1-home">
    </iframe>
  </div>

{% endblock %}

{% block footer %}
{% endblock %}