{% extends 'layout.html' %} {% block pageTitle %} VitA prototype {% endblock %}
{% block beforeContent %} {% endblock %} {% block outerContent %} {% endblock %}
{% block content %}
<div class="nhsuk-grid-row">
  <div class="nhsuk-grid-column-full">
    <h1>Vaccinations in the App prototype</h1>
    <p class="nhsuk-lede-text">
      This environment is designed for testing ideas, validating hypotheses, and
      exploring different journey options alongside release iterations. It
      serves as a space to experiment and refine concepts and is not indicative
      of the final release or the end-state of the service.
    </p>

    <ul class="nhsuk-grid-row nhsuk-card-group">
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h5 class="nhsuk-card__heading nhsuk-heading-xs">
              <a class="nhsuk-card__link" href="/scenario1/scenario1-home"
                >Scenario 1</a
              >
            </h5>
            <p>You are eligible and can book online</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h5 class="nhsuk-card__heading nhsuk-heading-xs">
              <a class="nhsuk-card__link" href="/scenario2/scenario2-home">Scenario 2</a>
            </h5>
            <p>You are not eligible but can self refer</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h5 class="nhsuk-card__heading nhsuk-heading-xs">
              <a class="nhsuk-card__link" href="/scenario3/scenario3-home">Scenario 3</a>
            </h5>
            <p>You are eligible but can not book online</p>
          </div>
        </div>
      </li>
      <li class="nhsuk-grid-column-one-third nhsuk-card-group__item">
        <div class="nhsuk-card nhsuk-card--clickable">
          <div class="nhsuk-card__content">
            <h5 class="nhsuk-card__heading nhsuk-heading-xs">
              <a class="nhsuk-card__link" href="scenario4/scenario4-home">Scenario 4</a>
            </h5>
            <p>You are not eligible, no action required</p>
          </div>
        </div>
      </li>
    </ul>

    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full">
        <h2>Page examples</h2>
        <p>
          These are examples of individual pages that are not necesarily
          included in the above journeys
        </p>
        <div class="nhsuk-grid-row">
          <div class="nhsuk-grid-column-one-half">
            <p>
              <a href="#">Error page</a><br />
              <a href="#">P5 user your health</a> <br />
              <a href="#">Booking closed</a> <br />
              <a href="#">Multiple next best actions</a><br />
              <a href="#">Vaccination record - COVID-19</a><br />
            </p>
          </div>
          <div class="nhsuk-grid-column-one-half">
            <p>
              <a href="#">Content page - Static</a><br />
              <a href="#">Content page - Eligible</a><br />
              <a href="#">Content page - Eligible not bookable</a><br />
              <a href="#">Content page - Already booked</a><br />
              <a href="#">Content page - Not eligible</a><br />
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
